@import "src/variables";

form{
display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: flex-end;
  align-items: center;

}
.main{

  background-image: url("../../../assets/img/ENSUP.jpg") !important;
  border-radius: 20px;
}
mat-card{
  top: 10%;
  margin: 5% 25%;

}

mat-card-title{
  text-align: center;
}
mat-card-actions{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  flex-direction: row-reverse;
  width: 70%;
}
button{

  color: white;
  font-size: 0.7em;
  font-weight: 400;
}
.btn-register{
  flex: 1;
 background-color: $green-color;
}

.btn-cnx{
  flex: 3;
  background-color: $main-color;
}
mat-form-field {
  width: 70%;

  margin-right: 2%;
  font-size: 0.6em;
  font-weight: 550;
  color: black !important;
  padding: 1px;
}

.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) ;
  backdrop-filter: blur(10px) ;
  -webkit-backdrop-filter: blur(10px);

  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}



.msg{
  border-radius: 5px;
  opacity: 0.8;
  padding: 5px;
  background-color: $fire-color;
  color: white;
  font-size: 0.7em;
  width: 50%;
  margin: 5px;
}
