
<mat-toolbar  *ngIf="!_auth.getToken()">

    <img class='logo-ensup' alt="Logo Eurofeu" src="assets/img/logo.png">

</mat-toolbar>
<!-- composant menu -->
<mat-toolbar  *ngIf="_auth.getToken()">
<button class="btn-menu"
            (click)="_layout.toggleSidenav()"
            mat-icon-button>
        <mat-icon *ngIf="!_layout.isSidenavOpen">menu</mat-icon>
        <mat-icon *ngIf="_layout.isSidenavOpen">close</mat-icon>
    </button>

    <img class='logo-ensup' alt="Logo Eurofeu" src="assets/img/logo.png">
    <a [routerLinkActiveOptions]="{exact: true}" routerLink="" routerLinkActive="active-link">
        <button class="menu-button" mat-button>
            <mat-icon>home</mat-icon>
            <span>Étudiants </span>
        </button>
    </a>

    <a [routerLinkActiveOptions]="{exact: true}" routerLink="cours"
       routerLinkActive="active-link">
        <button class="menu-button" mat-button>
            <mat-icon>account_balance</mat-icon>
            <span>Cours</span>
        </button>
    </a>
    <a [routerLinkActiveOptions]="{exact: true}" routerLink="ajouter" routerLinkActive="active-link">
    <button class="menu-button" mat-button >
        <mat-icon>add_circle_outline</mat-icon>
        <span>Créer un étudiant</span>
    </button>
    </a>
    <a [routerLinkActiveOptions]="{exact: true}" routerLink="aide" routerLinkActive="active-link">
        <button class="menu-button" mat-button>
            <mat-icon>help</mat-icon>
            <span>Aide</span>
        </button>
    </a>





    <div class="ml-auto" >
       <!-- <span  class="name-user"> M.{{(_authService.user | async)?.lastName}}</span>-->
       <span  class="name-user"> M.</span>
        <mat-icon class="parent">account_circle</mat-icon>
        <button class="logout-btn" mat-button  (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Déconnexion</span>
        </button>

    </div>
</mat-toolbar>

