

<div class="title">
    <h1 mat-dialog-title> Étudiants - Campus SQY</h1>

</div>
<p>{{msg}}</p>
        <div class="mat-tab-body-content">
            <div *ngIf="ready|async; else spinner">

            <!--    <mat-card>
                    <form [formGroup]="formGroup" class="flex">

                        <mat-form-field appearance="fill" class="field-input">
                            <mat-label>Référence</mat-label>
                            <mat-select #vcType disableRipple formControlName="nameValues">
                                <mat-option *ngFor="let item of nameValues" [value]="item">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                            <button (click)="resetFilter('nameValues', $event)"
                                    *ngIf="formGroup.get('nameValues')?.value"
                                    [attr.aria-label]="'Supprimer le filtre'"
                                    mat-icon-button
                                    matSuffix>
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>


                        <mat-form-field appearance="fill" class="field-input">
                            <mat-label>Societé</mat-label>
                            <mat-select #vcType disableRipple formControlName="societyValues">
                                <mat-option *ngFor="let item of societyValues" [value]="item">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                            <button (click)="resetFilter('societyValues', $event)"
                                    *ngIf="formGroup.get('societyValues')?.value"
                                    [attr.aria-label]="'Supprimer le filtre'"
                                    mat-icon-button
                                    matSuffix>
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>


                        <mat-form-field appearance="fill" class="field-input">
                            <mat-label>Service</mat-label>
                            <mat-select #vcType disableRipple formControlName="serviceValues">
                                <mat-option *ngFor="let item of serviceValues" [value]="item">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                            <button (click)="resetFilter('serviceValues', $event)"
                                    mat-icon-button
                                    *ngIf="formGroup.get('serviceValues')?.value"
                                    [attr.aria-label]="'Supprimer le filtre'"
                                    matSuffix>
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="field-input">
                            <mat-label>Auteur</mat-label>
                            <mat-select #vcType disableRipple formControlName="authorValues">
                                <mat-option *ngFor="let item of authorValues" [value]="item">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                            <button (click)="resetFilter('authorValues', $event)"
                                    *ngIf="formGroup.get('authorValues')?.value"
                                    [attr.aria-label]="'Supprimer le filtre'"
                                    mat-icon-button
                                    matSuffix>
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>

                    </form>
                </mat-card>-->
                <div class="table-content">

                    <table *ngIf="dataSource.data.length > 0" [dataSource]="dataSource" class="mat-elevation-z8" mat-table>


                        <ng-container matColumnDef="lastName">
                            <th *matHeaderCellDef mat-header-cell> Nom</th>
                            <td *matCellDef="let element" mat-cell> {{element.nom}} </td>
                        </ng-container>

                        <ng-container matColumnDef="firstName">
                            <th *matHeaderCellDef mat-header-cell> Prénom</th>
                            <td *matCellDef="let element" mat-cell> {{element.prenom}} </td>
                        </ng-container>

                        <ng-container matColumnDef="email">
                            <th *matHeaderCellDef mat-header-cell> Mail</th>
                            <td *matCellDef="let element" mat-cell> {{element.email}} </td>
                        </ng-container>

                        <ng-container matColumnDef="date">
                            <th *matHeaderCellDef mat-header-cell> Date de Naissance</th>
                            <td *matCellDef="let element" mat-cell> {{element.dateNaissance}} </td>
                        </ng-container>

                        <ng-container matColumnDef="phone">
                            <th *matHeaderCellDef mat-header-cell> Téléphone</th>
                            <td *matCellDef="let element" mat-cell> {{element.telephone}} </td>
                        </ng-container>


                        <ng-container matColumnDef="action">
                            <th *matHeaderCellDef mat-header-cell> Action</th>

                            <td *matCellDef="let element" class="td-action" cols="2" mat-cell rowHeight="2:1">

                                <button [routerLink]="['/etudiant/', element.uuid]" mat-button>
                                    <mat-icon>visibility</mat-icon>
                                </button>

                                <button  class="btn-delete" (click)="delete(element.uuid)" mat-button>
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>




                        </ng-container>

                        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

                        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                       aria-label="Select page of periodic elements"
                                       showFirstLastButtons>
                        </mat-paginator>
                    </table>
                    <ng-container *ngIf="dataSource.data.length == 0">
                        <tr class="no-data">
                            Aucun étudiant à afficher
                        </tr>
                    </ng-container>
                </div>

            </div>


        </div>




    <ng-template #spinner>
        <app-layout-spinner></app-layout-spinner>
    </ng-template>
