
@import "../../../variables.scss";


.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  padding-bottom: 5px;
  margin: 5px;
  color: $main-color;
  border-bottom: solid  $main-color 2px;
  height: 40px;
}

.header{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.btn-cnx{
  background-color: $main-color;
  color: white;
}


mat-form-field {
  width: 10%;
  font-size: 0.7em;
}

.message {
  border-radius: 5px;
  opacity: 0.8;
  padding: 10px;
  background-color: $green-color;
  color: white;
  font-size: 0.7em;
  width: 25%;
  margin: 5px;
}


.error{
  border-radius: 5px;
  opacity: 0.8;
  padding: 10px;
  background-color: $fire-color;
  color: white;
  font-size: 0.7em;
  width: 25%;
  margin: 5px;
}

/* table*/
table {
  margin: 10px;
  overflow: auto;
  max-height: 40vh;
  white-space: nowrap;
  border-radius: 5px 5px 0px 0px;
  border: solid 1px;
  background-color: white;
  border-spacing: 0;
  td{
    padding: 0.3%;
    border-width: 1px;
    border-left: #8A8A8A solid 1px;
  }
}

.cours-action{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

th.mat-header-cell {
  text-align: center !important;
}

td {
  text-align: center;
  width: 90vw;
  white-space: nowrap;
  border-left: #8A8A8A solid 1px;

}
td.main-width {
  width: 50%;
}
td.download {
  width: 8%;
  text-align: center;
}
td.download button mat-icon {
  color: #4169e1;
  cursor: pointer;
}

th {
  border-bottom: solid 2px black;
  color: white;

}

.no-data{
  background-color: transparent !important;
}

tr:nth-child(odd) {
  background-color: rgba(222, 217, 217, 0.17);
  height: 2.5vw;
}
tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.87);
  height: 2.5vw;
}

tr:hover td {
  // background-color: rgba(57, 57, 147, 0.49);
  border-bottom: solid 1px;
  // color: white;
}

.mat-header-row:first-of-type {
  background-color: $main-color;
  color: white;
  height: 2.5vw;
  border-top: none;
  border-left: none;
  border-right: none;
}

mat-form-field {
  width: 10%;
  font-size: 0.8em;
}

form.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
}

.no-data {
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 100px;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

.mat-tab-body-content {
  height: 85vh;
  overflow: auto;
}

.table-content {
  height: 70vh;
  overflow: auto;
}


mat-form-field {
  width: 10%;
  font-size: 0.8em;
}

mat-select::placeholder {
  color: black  !important;
  //font-size: 1.5em;
  font-weight: 550 !important;
}

.no-data {
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 100px;
  justify-content: center;
  align-items: center;
  font-style: italic;
}