<div class="title">
    <h1 mat-dialog-title> Cours</h1>
</div>
<div class="cours-action">
    <form [formGroup]="dataForm" class="header">
        <mat-form-field appearance="fill">
            <mat-select id="select-cours-course-list" (selectionChange)="onChangeCours($event)" formControlName="cours" placeholder="Liste des cours">
                <mat-option *ngFor="let option of dataCours | async" [value]="option.id">
                    {{option.theme}} | Heures : {{option.nbHeures}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-select id="select-course-etudiant-list" (selectionChange)="onChangeStudent($event)" formControlName="student" placeholder="Liste des étudiants">
                <mat-option *ngFor="let option of dataStudentsObs | async" [value]="option.uuid">
                    {{option?.prenom+" "+option?.nom }}
                </mat-option>
            </mat-select>


        </mat-form-field>
        <button  id="btn-course-link" mat-raised-button class="btn-cnx" type="submit"  [disabled]="dataForm.invalid"   (click)="add()" >Associer</button>

    </form>
    <p  *ngIf="msg" [class]="[ isValid ? 'message' : 'error']" > {{msg}}   </p>

    <table *ngIf="dataSource.length > 0"  class="mat-elevation-z8">
        <thead>
          <tr class="mat-header-row">
            <th scope="col" class="mat-header-cell">Nom</th>
            <th scope="col" class="mat-header-cell">Prenom</th>
            <th scope="col" class="mat-header-cell">Email</th>
            <th scope="col" class="mat-header-cell">Date de naissance</th>
            <th scope="col" class="mat-header-cell">Adresse</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element of dataSource">
            <td>{{ element.nom }}</td>
            <td>{{ element.prenom }}</td>
            <td>{{ element.email }}</td>
            <td>{{ element.dateNaissance }}</td>
            <td>{{ element.adresse }}</td>
          </tr>
        </tbody>
      </table>

    <ng-container *ngIf="dataSource.length == 0">
        <tr class="no-data">
            Aucun étudiant à afficher
        </tr>
    </ng-container>

</div>