
@import "../../../variables.scss";


.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  padding-bottom: 5px;
  margin: 5px;
  color: $main-color;
  border-bottom: solid  $main-color 2px;
  height: 40px;
}


.course-action{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px 50px;
}

table {
  width: 100%;
}