

<div class="title">
    <h1 mat-dialog-title>Edit l' étudiant</h1>

</div>
<p *ngIf="msg" class="message" >{{msg}}</p>
<div class="main">


<div mat-dialog-content >


    <form [formGroup]="addForm"  class="glass">

        <ng-template matStepLabel>Nom</ng-template>

        <mat-form-field appearance="fill">
            <mat-label>Nom</mat-label>

            <input matInput
                   formControlName="lastName"
                   required>

        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Prénom</mat-label>

            <input matInput
                   formControlName="firstName"
                   required         >

        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Date de naissance</mat-label>

            <input matInput type="date"
                   formControlName="date"
                   required>

        </mat-form-field>


        <mat-form-field appearance="fill">
            <mat-label>Mail</mat-label>

            <input type="email"
                   matInput
                   formControlName="email"
                   required
            >

        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Adresse</mat-label>

            <input type="text"
                   matInput
                   formControlName="address"
                   required
            >

        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Téléphone</mat-label>
            <input type="phone" matInput formControlName="phone" required>

        </mat-form-field>

        <div class="footer-form"  >
            <button   [class.spinner]="loading" [disabled]="loading"  [disabled]="addForm.invalid"  class="btn-send" mat-raised-button (click)="onSubmit()">Créer un étudiant

            </button>
            <button mat-raised-button  class="btn-return" (click)="onRest()">Réinitialiser</button>
        </div>

    </form>

</div>
</div>

